[Server]
  Port        = ":9000"
  Environment = "development"

[Log]
  LogPath = "log/"
  Level   = "info"
  Stdout  = true

[Database]
  Host     = "localhost"
	Port     = "5432"
	User     = "postgres"
	Password = "postgres"
	DB       = "postgres"

[MailJet]
  API_KEY = "api key"
  SECRET_KEY = "secret key"